/* Cart.css */
.cart { 
    background-color: #f86262;
    padding: 16px;
    /* Add other styles as needed */
  }
  
  /* Media query for mobile phones */
  @media screen and (max-width: 480px) {
    .cart {
      /* Adjust styles for smaller screens */
      padding: 8px;
    }
  }
  